body {
    background: grey;
    font-family: 'proxima-nova',sans-serif;  
    text-align: center;
    margin: 0; 
    padding: 0;
}

ul{
    position: relative;
    margin: 0; 
    padding: 0;
}
  
ul li{
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

ul li img{
    float: left;
    transition: .8s opacity;
    width: 100%;
    border-radius: 3%;
}


  
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
}